<div class="container p-5">
  <h1>The List Page</h1>

  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>

  <%= link_to 'Create a new list', new_list_path %>

</div>
